.ConnectMenu {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    width: 50%;
    min-height: 25%;
    max-height: 25%;
}

.statusDiv {
    display: flex;
    flex: 1;
    justify-content: center;
}

.circleDiv {
    display: flex;
    flex: 1;
    justify-content: center;
}

.statusText {    
    flex: 0.5;
    height: 50%;
    width: 80%;
}

.loadingCircle {
    flex: 0.1;
    height: 10%;
    width: 10%;
}